[Desktop Entry]
Type=Application
Name=Sioul
GenericName=Calm admin
GenericName[fr]=Administratif au calme
Comment=Mail, tasks and admin, planned around you
Comment[fr]=Le courrier, les tâches et les démarches, organisés autour de vous
Exec=sioul-app %u
Icon=com.aurelienpierre.Sioul
Terminal=false
Categories=Office;Email;
MimeType=x-scheme-handler/mailto;
Keywords=mail;email;admin;budget;porch;
StartupWMClass=sioul-app
X-GNOME-UsesNotifications=true
